<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <title>change password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body>
        <header>
            <h1><u>Task Manager</u></h1>
            <div class="container">
                <a href="/login" class="top_icons">Log Out</a>
                <a href="/index" class="top_icons">Home</a>
            </div>
        </header>

        <form action="{{ url_for('change_password') }}" method="POST">
            <input type="username" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Current Password">
            <input type="password" id="new_password" name="new_password" placeholder="New Password">
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm New Password">
            <a href="/index">
                <button class="btn btn-primary" type="submit">Change</button>
            </a>
        </form>

        <footer>
            <p>&copy; Final Project - CS50x 2024.</p>
        </footer>

    </body>

</html>
